.browse-main {
  margin: 0px;
  padding: 0px;
  height: 300vh;

  background-image: url(/img/controller-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.browse-footer {
  bottom: 0;
  position: relative;
}

.games-grid {
  height: 300vh;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 7vh 3vh 5vh 60vh 5vh 60vh 5vh 60vh 7vh;
  /* grid-row-gap: 3vh; */

  background-color: rgba(255, 255, 255, 0.445);
}

.categories-bar {
  grid-row: 1/1;
  grid-column: 1/-1;

  padding: 0px;
  margin: 0px;

  height: 100%;

  background-color: #393939;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.search-bar-wrapper {
  padding: 0px;
  margin: 0px;

  height: 100%;
  width: 40%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;

  position: absolute;
  right: 1vw;
}

.search-bar input {
  height: 5vh;
  width: 10vw;
  border-radius: 3px;
}

.search-bar input:focus {
  width: 15vw;
}

.search-bar input:active {
  width: 15vw;
}

.search-bar-wrapper button {
  height: 5vh;
  width: 5vh;

  border-radius: 3px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1.3rem;

  margin-left: 0.2vw;
}

.search-bar-wrapper button:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 1.4rem;
  cursor: pointer;
}

.categories-bar ul {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  z-index: 99;
  position: absolute;
}

.categories-bar ul li {
  float: right;
  position: relative;
  display: block;
  bottom: 0px;
}

.categories-bar ul li a {
  margin-inline-start: 26px;

  font-size: var(--header-font-size);
  text-decoration: var(--li-a-text-decoration);
  letter-spacing: var(--general-letter-spacing);
  font-family: var(--li-a-font-family);
  font-weight: var(--li-a-font-weight);
  text-transform: var(--li-a-text-transform);
  color: #ffffff;
}

.categories-bar ul > li > a:hover {
  color: var(--text-color);
  position: relative;
}

.categories-bar ul > li > a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--background-color);

  transform: scaleX(0);
  transform-origin: bottom;

  position: absolute;
  bottom: 0px;
  left: 0;

  transition: ease-in 300ms;

  z-index: 99;
}

.categories-bar ul > li > a:hover::before {
  width: 100%;
  transform: scaleX(1);
}

.categories-bar ul > li > a.logout:hover::before {
  width: 100%;
  transform: scaleX(1);
}

.image-slider {
  padding: 0px;
  margin: 0px;

  grid-row: 2/2;
  grid-column: 2/2;

  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 85% 5%;

  overflow: hidden;

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.55);
}

.image-slider h1 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 1.9rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.image-slider h1 span {
  font-weight: 100;
  font-size: 1.6rem;
}

.image-slider .next {
  grid-column: 3/3;
  grid-row: 2/2;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.445);
  cursor: pointer;
}

.image-slider .next:hover {
  color: rgba(255, 255, 255, 0.55);
}

.image-slider .prev {
  grid-column: 1/1;
  grid-row: 2/2;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.445);
  cursor: pointer;
}

.image-slider .prev:hover {
  color: rgba(255, 255, 255, 0.55);
}

.image-slider .autoplay {
  grid-row: 2/3;
  grid-column: 2/2;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.image-slider .autoplay .featured-game {
  width: 100%;
  height: 42vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5vh 5.5vh 10.5vh 10.5vh 10.5vh;
  grid-column-gap: 1vw;
}

.featured-img-1 {
  grid-row: 1/5;
  grid-column: 1/3;

  height: 100%;
  width: 98%;
  margin-left: 5px;
  margin-top: 5px;

  background-image: url(/img/overwatch-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}

.featured-img-2 {
  grid-row: 1/5;
  grid-column: 1/3;

  height: 100%;
  width: 98%;
  margin-left: 5px;
  margin-top: 5px;

  background-image: url(/img/GTA\ V.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}

.featured-img-3 {
  grid-row: 1/5;
  grid-column: 1/3;

  height: 100%;
  width: 98%;
  margin-left: 5px;
  margin-top: 5px;

  background-image: url(/img/monsterhunterworld.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}

.featured-img-4 {
  grid-row: 1/5;
  grid-column: 1/3;

  height: 100%;
  width: 98%;
  margin-left: 5px;
  margin-top: 5px;

  background-image: url(/img/Horizon-Zero-Dawn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}

.featured-img-5 {
  grid-row: 1/5;
  grid-column: 1/3;

  height: 100%;
  width: 98%;
  margin-left: 5px;
  margin-top: 5px;

  background-image: url(/img/arksurvivalevolved.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75);
}

/* More Info Button 2 */

.more-info-button {
  grid-row: 1/5;
  grid-column: 1/3;

  margin: 0px;
  padding: 0px;

  height: 100%;
  width: 98%;

  position: relative;
  margin-top: 5px;
}

.more-info-button .info-button {
  height: 100%;
  width: 100%;

  text-align: center;

  font-size: 1.5rem;
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.15);
}

.more-info-button .info-button {
  color: rgba(0, 0, 0, 0.253);
  border: none;
}

.more-info-button .info-button:focus {
  outline: none;
}

.more-info-button .info-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  opacity: 0.1s;
  filter: blur(10px);
  transform: translateX(-130px) skewX(-15deg);
}

.more-info-button .info-button::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  filter: blur(10px);
  transform: translate(-100px) scaleX(-15deg);
}

.more-info-button .info-button:hover {
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  border: none;
}

/* End of More Info Buttons */

.price-button {
  grid-row: 5/5;
  grid-column: 1/3;

  margin: 0px;
  padding: 0px;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
}

.price-button .info-button i {
  margin-left: 10px;
  font-size: 1.3rem;
}

.more-info-button .info-button i {
  margin-right: 10px;
  font-size: 1.8rem;
}

.info-button {
  margin: 0px;
  padding: 0px;

  border-radius: 2px;
  margin: 0px auto;
  margin-left: 5px;

  height: 100%;
  width: 98%;

  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(255, 255, 255);

  border: 1px solid rgba(0, 0, 0, 0.151);

  transition: 0.5s;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 400;
}

.info-button:focus {
  outline: none;
}

.info-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.55);
  background-color: none;
  height: 100%;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
  border: none;
  font-weight: 400;
}

.info-button::after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
  border: none;
  font-weight: 400;
}

.info-button:hover {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  color: #000000;
  border: none;
  font-weight: 400;
}

.info-button:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.5s;
  border: none;
}

.info-button:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.5s;
  border: none;
  font-weight: 400;
}

.featured-title {
  grid-row: 1/2;
  grid-column: 3/5;

  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;
}

.featured-title h2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 5px;
  padding: 0px;
}

.featured-game-description {
  grid-row: 2/4;
  grid-column: 3/6;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  text-align: start;
}

.featured-game-description p {
  margin-right: 32px;
  padding: 0px;

  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.os-info {
  grid-row: 4/4;
  grid-column: 3/4;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;
}

.os-info > p {
  padding: 0px;
  bottom: 0px;

  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.ratings {
  grid-row: 5/5;
  grid-column: 3/3;

  height: 100%;
  width: 100%;

  color: rgba(80, 179, 101, 0.555);
  font-size: 1.2rem;
  line-height: 5px;
  background-color: transparent;
  text-decoration: none;

  margin-top: 2vh;
}

.ratings p {
  margin: 15px auto;

  color: rgba(80, 179, 101, 0.555);
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 5px;
}

.pegi-rating {
  grid-row: 4/5;
  grid-column: 5/6;

  height: 150%;
  width: 70%;

  margin: 10px auto;
  padding: 0px;
  margin-left: 0px;

  background-image: url(/img/pegi-12.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pegi-rating-2 {
  grid-row: 4/5;
  grid-column: 5/6;

  height: 150%;
  width: 70%;

  margin: 10px auto;
  padding: 0px;
  margin-left: 0px;

  background-image: url(/img/pegi-18.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pegi-rating-3 {
  grid-row: 4/5;
  grid-column: 5/6;

  height: 150%;
  width: 70%;

  margin: 10px auto;
  padding: 0px;
  margin-left: 0px;

  background-image: url(/img/pegi-16.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.free-games {
  grid-row: 3/3;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: 0.002fr 1fr 1fr 1fr 0.002fr;
  grid-template-rows: 0.1fr 1fr;
  grid-column-gap: 0.8vw;
  grid-row-gap: 0.8vh;
}

.free-games .free-text {
  grid-row: 1/1;
  grid-column: 2/5;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 1.9rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.89);

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.free-games .free-game-1 {
  grid-column: 2/2;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 20% 20%;
}

.free-game-1 .free-game-img-1 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/intothebreach-cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.free-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  align-self: center;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.free-game-title i {
  font-size: 0.75rem;
  font-weight: 700;
}

.free-price-button {
  grid-row: 3/3;
  grid-column: 1/3;

  height: 100%;
  width: 100%;
}

.free-price-button .info-button {
  width: 100%;
  margin-left: 0px;
  height: 100%;
}

.free-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.free-more-info-button .info-button {
  grid-row: 1/3;
  grid-column: 1/-1;

  height: 91%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  text-align: center;

  font-size: 1.5rem;
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0);
}

.free-more-info-button .info-button {
  color: rgba(0, 0, 0, 0.253);
  border: none;
}

.free-more-info-button .info-button:focus {
  outline: none;
}

.free-more-info-button .info-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  opacity: 0.1s;
  filter: blur(10px);
  transform: translateX(-130px) skewX(-15deg);
}

.free-more-info-button .info-button::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  filter: blur(10px);
  transform: translate(-100px) scaleX(-15deg);
}

.free-more-info-button .info-button:hover {
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  border: none;
}

.free-games .free-game-2 {
  grid-column: 3/3;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 20% 20%;
}

.free-game-2 .free-game-img-2 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/Dota2-cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.free-games .free-game-3 {
  grid-column: 4/4;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60% 20% 20%;
}

.free-game-3 .free-game-img-3 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/CSgo-cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-releases {
  grid-row: 4/4;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: 0.002fr 1fr 1fr 1fr 0.002fr;
  grid-template-rows: 0.15fr 1fr 0fr 1fr 0.15fr;
  grid-column-gap: 0.8vw;
  grid-row-gap: 0.8vh;
}

.new-releases .new-text {
  grid-row: 1/2;
  grid-column: 2/5;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 1.9rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.89);

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.new-releases .new-text i {
  font-size: 1.6rem;
}

.new-game-1 {
  grid-column: 2/2;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.new-game-1 .new-game-img-1 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/spellbreak.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-game-1 .new-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.new-game-1 .new-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-1 .new-price-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-1 .new-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-1 .new-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-more-info-button .info-button {
  grid-row: 1/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  text-align: center;

  font-size: 1.5rem;
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0);
}

.new-more-info-button .info-button {
  color: rgba(0, 0, 0, 0.253);
  border: none;
}

.new-more-info-button .info-button:focus {
  outline: none;
}

.new-more-info-button .info-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  opacity: 0.1s;
  filter: blur(10px);
  transform: translateX(-130px) skewX(-15deg);
}

.new-more-info-button .info-button::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  filter: blur(10px);
  transform: translate(-100px) scaleX(-15deg);
}

.new-more-info-button .info-button:hover {
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  border: none;
}

.new-game-2 {
  grid-column: 3/3;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.new-game-2 .new-game-img-2 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/avengers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-game-2 .new-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.new-game-2 .new-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-2 .new-price-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-2 .new-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-2 .new-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-3 {
  grid-column: 4/4;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.new-game-3 .new-game-img-3 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/riskofrain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-game-3 .new-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.new-game-3 .new-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-3 .new-price-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-3 .new-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-3 .new-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-4 {
  grid-column: 2/2;
  grid-row: 4/4;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.new-game-4 .new-game-img-4 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/crusaderkings].jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-game-4 .new-game-title {
  grid-row: 2/2;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.new-game-4 .new-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-4 .new-price-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-4 .new-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-4 .new-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-5 {
  grid-column: 3/3;
  grid-row: 4/4;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.new-game-5 .new-game-img-5 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/fallguys.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-game-5 .new-game-title {
  grid-row: 2/2;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.new-game-5 .new-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-5 .new-price-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-5 .new-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-5 .new-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-6 {
  grid-column: 4/4;
  grid-row: 4/4;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.new-game-6 .new-game-img-6 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/windbound.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-game-6 .new-game-title {
  grid-row: 2/2;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.new-game-6 .new-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-6 .new-price-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-game-6 .new-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.new-game-6 .new-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-releases .more-games-button {
  grid-row: 5/5;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.new-releases .more-games-button .info-button {
  width: 100%;
  height: 5vh;

  margin: 5px auto;
  background: rgba(255, 255, 255, 0.25);
  color: rgba(0, 0, 0, 0.75);
  border: rgba(255, 255, 255, 0.3) 1px solid;
  font-size: 1.15rem;
}

.new-releases .more-games-button .info-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.55);
  height: 100%;
  opacity: 0.1s;
  filter: blur(10px);
  transform: translateX(-130px) skewX(-15deg);
}

.new-releases .more-games-button.info-button::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  filter: blur(10px);
  transform: translate(-100px) scaleX(-15deg);
}

.new-releases .more-games-button .info-button:hover {
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: none;
}

.games-grid .used-games {
  grid-row: 5/5;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: 0.002fr 1fr 1fr 1fr 0.002fr;
  grid-template-rows: 0.15fr 1fr 0fr 1fr 0.15fr;
  grid-column-gap: 0.8vw;
  grid-row-gap: 0.8vh;
}

.used-games .used-text {
  grid-row: 1/2;
  grid-column: 2/5;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 1.9rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.89);

  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.used-games .used-text i {
  font-size: 1.5rem;
}

.used-more-info-button .info-button {
  grid-row: 1/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  text-align: center;

  font-size: 1.5rem;
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0);
}

.used-more-info-button .info-button {
  color: rgba(0, 0, 0, 0.253);
  border: none;
}

.used-more-info-button .info-button:focus {
  outline: none;
}

.used-more-info-button .info-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  opacity: 0.1s;
  filter: blur(10px);
  transform: translateX(-130px) skewX(-15deg);
}

.used-more-info-button .info-button::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  filter: blur(10px);
  transform: translate(-100px) scaleX(-15deg);
}

.used-more-info-button .info-button:hover {
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  border: none;
}

.used-game-1 {
  grid-column: 2/2;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.used-game-1 .used-game-img-1 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/deathstranding.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.used-game-1 .used-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.used-games .used-price-button .info-button {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.used-game-1 .used-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-1 .used-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-1 .used-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.used-game-2 {
  grid-column: 3/3;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.used-game-2 .used-game-img-2 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/terraria.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.used-game-2 .used-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.used-game-2 .used-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-2 .used-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-2 .used-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.used-game-3 {
  grid-column: 4/4;
  grid-row: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.used-game-3 .used-game-img-3 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/rust.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.used-game-3 .used-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.used-game-3 .used-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-3 .used-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-3 .used-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.used-game-4 {
  grid-column: 2/2;
  grid-row: 4/4;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.used-game-4 .used-game-img-4 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/skyrim.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.used-game-4 .used-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.used-game-4 .used-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-4 .used-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-4 .used-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.used-game-5 {
  grid-column: 3/3;
  grid-row: 4/4;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.used-game-5 .used-game-img-5 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/thesims4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.used-game-5 .used-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.used-game-5 .used-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-5 .used-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-5 .used-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.used-game-6 {
  grid-column: 4/4;
  grid-row: 4/4;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  background-color: rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
}

.used-game-6 .used-game-img-6 {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;

  background-image: url(/img/reddeadredemption2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.used-game-6 .used-game-title {
  grid-row: 2/2;
  grid-column: 1/3;

  height: 100%;
  width: 100%;

  padding: 0px;
  margin: 0px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.used-game-6 .used-price-button {
  grid-row: 3/3;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-6 .used-more-info-button {
  grid-row: 1/1;
  grid-column: 1/-1;

  height: 100%;
  width: 100%;
}

.used-game-6 .used-more-info-button .info-button {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.used-games .more-games-button {
  grid-row: 5/5;
  grid-column: 2/2;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

.used-games .more-games-button .info-button {
  width: 100%;
  height: 5vh;

  margin: 5px auto;
  background: rgba(255, 255, 255, 0.25);
  color: rgba(0, 0, 0, 0.75);
  border: rgba(255, 255, 255, 0.3) 1px solid;
  font-size: 1.15rem;
}

.used-games .more-games-button .info-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.55);
  height: 100%;
  opacity: 0.1s;
  filter: blur(10px);
  transform: translateX(-130px) skewX(-15deg);
}

.used-games .more-games-button.info-button::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  filter: blur(10px);
  transform: translate(-100px) scaleX(-15deg);
}

.used-games .more-games-button .info-button:hover {
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: none;
}

@media (max-width: 1000px) {
  /* Tablet */

  .categories-bar ul li a {
    font-size: 0.8rem;
  }

  .featured-game .featured-title h2 {
    font-size: 1rem;
  }

  .featured-game .featured-game-description p {
    font-size: 0.9rem;
  }

  .featured-game .os-info p {
    font-size: 0.6rem;
  }

  .featured-game .ratings p {
    font-size: 01rem;
  }

  .featured-game .ratings i {
    font-size: 0.8rem;
  }

  .free-game-title {
    font-size: 0.8rem;
  }

  .new-releases .new-game-title {
    font-size: 0.8rem;
  }

  .used-games .used-game-title {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  /* Annoying Middle Area */

  .categories-bar ul li a {
    font-size: 0.6rem;
    margin-inline-start: 15px;
  }

  .featured-game .featured-game-description p {
    font-size: 0.75rem;
  }

  .featured-game .ratings p {
    font-size: 0.8rem;
  }

  .featured-game .ratings i {
    font-size: 0.6rem;
  }

  .free-games .free-text {
    font-size: 1rem;
  }

  .new-releases .new-text {
    font-size: 1rem;
  }

  .used-games .used-text {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  /* Mobile */

  .browse-main {
    margin: 0px;
    padding: 0px;
    height: 360vh;
  }

  .games-grid {
    height: 360vh;
    width: 100%;

    padding: 0px;
    margin: 0px;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 7vh 50vh 70vh 110vh 100vh;
    /* grid-row-gap: 3vh; */

    background-color: rgba(255, 255, 255, 0.445);
  }

  .categories-bar ul li a {
    font-size: 0.7rem;
    margin-inline-start: 10px;
  }

  .categories-bar .search-bar {
    display: none;
  }

  .image-slider .autoplay .featured-game {
    width: 100%;
    height: 48vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4vh 20vh 12vh 8vh;

    overflow: hidden;
  }

  .image-slider h1 {
    font-size: 1.2rem;
  }

  .image-slider .autoplay .featured-game .featured-img-1 {
    grid-row: 2/2;
    grid-template-columns: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
  }

  .image-slider .autoplay .featured-game .featured-img-2 {
    grid-row: 2/2;
    grid-template-columns: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
  }

  .image-slider .autoplay .featured-game .featured-img-3 {
    grid-row: 2/2;
    grid-template-columns: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
  }

  .image-slider .autoplay .featured-game .featured-img-4 {
    grid-row: 2/2;
    grid-template-columns: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
  }

  .image-slider .autoplay .featured-game .featured-img-5 {
    grid-row: 2/2;
    grid-template-columns: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
  }

  .image-slider .autoplay .featured-game .price-button {
    grid-row: 4/4;
    grid-column: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;

    height: 6vh;
  }

  .image-slider .autoplay .featured-game .more-info-button {
    grid-row: 2/2;
    grid-template-columns: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: -5px;
    margin-top: 0px;
  }

  .image-slider .autoplay .featured-game .featured-title {
    grid-row: 1/1;
    grid-column: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
  }

  .image-slider .autoplay .featured-game .featured-game-description {
    grid-row: 3/3;
    grid-column: 1/3;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
  }

  .image-slider .autoplay .featured-game .featured-game-description p {
    font-size: 0.6rem;
    text-align: center;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin-top: 5px;
  }

  .featured-game .os-info {
    grid-row: 3/3;
    grid-column: 1/3;
    height: 0%;
    width: 0%;
    display: none;
  }

  .featured-game .ratings {
    grid-row: 3/3;
    grid-column: 1/3;
    display: none;
  }

  .featured-game .pegi-rating-1 {
    grid-row: 3/3;
    grid-column: 1/3;
    display: none;
  }

  .games-grid .free-games {
    grid-row: 3/3;
    grid-column: 2/2;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-row-gap: 0.8vh;
  }

  .free-games .free-game-1 .free-game-img-1 {
    background-size: cover;
  }

  .free-games .free-text {
    grid-row: 1/1;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .free-games .free-text {
    font-size: 0.8rem;
  }

  .free-games .free-game-1 {
    grid-row: 2/2;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .free-games .free-game-2 {
    grid-row: 3/3;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .free-games .free-game-3 {
    grid-row: 4/4;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases {
    grid-row: 4/4;
    grid-column: 2/2;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-row-gap: 0.8vh;
  }

  .new-releases .new-text {
    grid-row: 1/1;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases .new-game-1 {
    grid-row: 2/2;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases .new-game-2 {
    grid-row: 3/3;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases .new-game-3 {
    grid-row: 4/4;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases .new-game-4 {
    grid-row: 5/5;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases .new-game-5 {
    grid-row: 6/6;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases .new-game-6 {
    grid-row: 7/7;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .new-releases .more-games-button {
    grid-row: 8/8;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .games-grid .used-games {
    grid-row: 5/5;
    grid-column: 2/2;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-row-gap: 0.8vh;
  }

  .used-games .used-text {
    grid-row: 1/1;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .used-games .used-game-1 {
    grid-row: 2/2;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .used-games .used-game-2 {
    grid-row: 3/3;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .used-games .used-game-3 {
    grid-row: 4/4;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .used-games .used-game-4 {
    grid-row: 5/5;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .used-games .used-game-5 {
    grid-row: 6/6;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .used-games .used-game-6 {
    grid-row: 7/7;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }

  .used-games .more-games-button {
    grid-row: 8/8;
    grid-column: 1/1;
    height: 100%;
    width: 100%;
  }
}
