.contact-main {
    margin: 0px;
    padding: 0px;

    height: 80vh;
    width: 100%;
}

.contact-us-background {
    margin: 0px;
    padding: 0px;

    height: 80vh;
    width: 100%;

    background-image: url(/img/controller-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.contact-us-grid {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 80vh;

    display: grid;
    grid-template-columns: 8% 26% 26% 26% 8%;
    grid-template-rows: 3vh 5vh 60vh 10vh;
    grid-column-gap: 1.5%;
    grid-row-gap: 0.5vh;

    background-color:  rgba(255, 255, 255, 0.445);
}

.contact-heading {
    grid-row: 2/2;
    grid-column: 2/5;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.75);
}

.contact-heading h1 {
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 7px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.contact-address {
    grid-row: 3/3;
    grid-column: 2/2;

    margin: 0px;
    padding: 0px;

    height: 60vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);

    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 3fr;
    grid-template-columns: auto;
}

.card-heading {
    grid-row: 1/1;

    height: 100%;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.445);
    background-color: rgba(0, 0, 0, 0.45);
}

.contact-main h2 {
    padding: 0px;
    margin: 0px;

    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-main p {
    padding: 0px;
    margin: 0px;

    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.street-address {
    grid-row: 2/2;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phone-number {
    grid-row: 3/3;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phone-number p {
    font-weight: 700;
}

.phone-number p:hover {
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: underline;
}

.opening-times {
    grid-row: 4/4;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.google-maps {
    grid-row: 5/7;

    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.kingston-map {
    height: 80%;
    width: 80%;

    margin: 0px;
    padding: 0px;

    background-image: url(/img/kingston-map.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

    border-radius: 2px;
}

.contact-chat {
    grid-row: 3/3;
    grid-column: 3/3;

    margin: 0px;
    padding: 0px;

    height: 60vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);

    display: grid;
    grid-template-rows: 1fr 4fr 5fr 0fr;
    grid-template-columns: auto;
}

.live-chat-info {
    grid-row: 2/2;

    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.live-chat-info p {
    text-transform: uppercase;
    margin-top: 15px;
}

.live-chat-info input {
    width: 20vw;
    color: rgb(255, 255, 255);
}

.chat-box {
    grid-row: 3/3;

    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box-content {
    margin: 0px;
    padding: 0px;

    height: 80%;
    width: 80%;

    display: grid;
    grid-template-rows: 10% 65% 10% 15%;
    grid-template-columns: auto;
}

.live-chat-heading {
    grid-row: 1/1;

    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.live-chat-heading i {
    letter-spacing: 10px;
}

.chat-background {
    grid-row: 2/2;

    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%;

    background-color: rgb(255, 255, 255);
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.chat-background p {
    color: black;
    font-size: 0.8rem;
}

.chat-icons {
    grid-row: 3/3;

    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat-icons i {
    padding-left: 10px;
}

.chat-text {
    grid-row: 4/4;

    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 2px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-text i {
    letter-spacing: 10px;
}

.contact-social {
    grid-row: 3/3;
    grid-column: 4/4;

    margin: 0px;
    padding: 0px;

    height: 60vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);

    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: auto;
}

.contact-social p {
    color: var(--heading1-color);
    font-size: 1.1rem;
    font-family: var(--heading1-font-family);
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: var(--general-text-decoration);
    text-transform: var(--general-text-transform); 
}

.contact-social p span:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

.contact-social i {
    font-size: 1.6rem;
}

.contact-fb {
    grid-row: 2/2;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-insta {
    grid-row: 3/3;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-disc {
    grid-row: 4/4;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-twitter {
    grid-row: 5/5;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 1024px) {
    /*Tablet*/

    .contact-main {
        margin: 0px;
        padding: 0px;
    
        height: 105vh;
        width: 100%;
    }

    .contact-footer {
        bottom: 0px;
    }

    .contact-us-background {
        margin: 0px;
        padding: 0px;
    
        height: 105vh;
        width: 100%;
    
        background-image: url(/img/controller-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
    }

    .contact-us-grid {
        margin: 0px;
        padding: 0px;

        width: 100%;
        height: 105vh;

        display: grid;
        grid-template-columns: 8% 42% 42% 8%;
        grid-template-rows: 3vh 5vh 60vh 30vh 10vh;
        grid-column-gap: 1.5%;
        grid-row-gap: 1vh;

        background-color:  rgba(255, 255, 255, 0.445);
    }

    .contact-heading {
        grid-row: 2/2;
        grid-column: 2/4;
    
        height: 100%;
        width: 100%;
    
        margin: 0px;
        padding: 0px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: rgba(0, 0, 0, 0.85);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.75);
    }
    
    .contact-address {
        grid-row: 3/3;
        grid-column: 2/2;
    
        margin: 0px;
        padding: 0px;
    
        height: 60vh;
        width: 100%;
    
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);
    
        display: grid;
        grid-template-rows: 1fr 3fr 1fr 1fr 1fr 3fr;
        grid-template-columns: auto;
    }

    .contact-chat {
        grid-row: 3/3;
        grid-column: 3/3;
    
        margin: 0px;
        padding: 0px;
    
        height: 60vh;
        width: 100%;
    
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);
    
        display: grid;
        grid-template-rows: 1fr 4fr 5fr 0fr;
        grid-template-columns: auto;
    }

    .live-chat-info input {
        width: 30vw;
        color: rgb(255, 255, 255);
    }

    .contact-social {
        grid-row: 4/4;
        grid-column: 2/4;
    
        margin: 0px;
        padding: 0px;
    
        height: 30vh;
        width: 100%;
    
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);
    
        display: grid;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-columns: auto;
    }

    .contact-social p {
        color: var(--heading1-color);
        font-size: 0.8rem;
        font-family: var(--heading1-font-family);
        font-weight: 400;
        letter-spacing: 2px;
        text-decoration: var(--general-text-decoration);
        text-transform: var(--general-text-transform); 

        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .contact-social p span:hover {
        text-decoration: underline;
        cursor: pointer;
        font-size: 1rem;
    }
}
    
@media (max-width: 600px) {
    /* Mobile */

    .contact-main {
        margin: 0px;
        padding: 0px;
    
        height: 167vh;
        width: 100%;
    }

    .contact-footer {
        bottom: 0px;
    }

    .contact-us-background {
        margin: 0px;
        padding: 0px;
    
        height: 167vh;
        width: 100%;
    
        background-image: url(/img/controller-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;

        position: absolute;
    }

    .contact-us-grid {
        margin: 0px;
        padding: 0px;

        width: 100%;
        height: 167vh;

        display: grid;
        grid-template-columns: 8% 84% 8%;
        grid-template-rows: 3vh 7vh 60vh 60vh 30vh 2vh;
        grid-column-gap: 1.5%;
        grid-row-gap: 1vh;

        background-color:  rgba(255, 255, 255, 0.445);
    }

    .card-heading h2 {
        font-size: 0.7rem;
    }

    .contact-heading {
        grid-row: 2/2;
        grid-column: 2/2;
    
        height: 100%;
        width: 100%;
    
        margin: 0px;
        padding: 0px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: rgba(0, 0, 0, 0.85);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.75);
    }

    .contact-heading h1 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        word-wrap: normal;

        font-size: 0.8rem;
    }
    
    .contact-address {
        grid-row: 3/3;
        grid-column: 2/2;
    
        margin: 0px;
        padding: 0px;
    
        height: 60vh;
        width: 100%;
    
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);
    
        display: grid;
        grid-template-rows: 1fr 3fr 1fr 1fr 1fr 3fr;
        grid-template-columns: auto;
    }

    .contact-main p {
        font-size: 0.7rem;
    }

    .contact-chat {
        grid-row: 4/4;
        grid-column: 2/2;
    
        margin: 0px;
        padding: 0px;
    
        height: 60vh;
        width: 100%;
    
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);
    
        display: grid;
        grid-template-rows: 1fr 4fr 5fr 0fr;
        grid-template-columns: auto;
    }

    .live-chat-info input {
        width: 45vw;
        color: rgb(255, 255, 255);
    }

    .contact-social {
        grid-row: 5/5;
        grid-column: 2/2;
    
        margin: 0px;
        padding: 0px;
    
        height: 30vh;
        width: 100%;
    
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.78);
    
        display: grid;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-columns: auto;
    }

    .contact-social p {
        color: var(--heading1-color);
        font-size: 0.8rem;
        font-family: var(--heading1-font-family);
        font-weight: 400;
        letter-spacing: 2px;
        text-decoration: var(--general-text-decoration);
        text-transform: var(--general-text-transform); 

        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .contact-social p span:hover {
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.9rem;
    }

    .contact-social i {
        letter-spacing: 2px;
    }

    .contact-insta {
        letter-spacing: 2px;

        padding-left: 10px;
    }
}

