@media (max-width: 12000px) {
	/*Desktop*/

main {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 90vh;
}

/* Index Main */
main .main-image {
  background-image: url(/img/HomePageImage2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

main .image-container {
  background-color: rgba(255, 255, 255, 0.445);
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 5% 28% 12% 18% 13% 20% 4%;
  overflow: hidden;
}

.about-text {
  grid-row: 2/2;
  grid-column: 2/2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: transparent;

  text-align: center;
  text-transform: var(--general-text-transform);
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: var(--general-letter-spacing);
  font-family: var(--li-a-font-family);
  font-weight: 400;
}

.about-text span {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  font-family: var(--logo-font-family);
}

.about-text .hub-span {
  color: rgb(0, 0, 0);
}

.heading-img {
  grid-row: 3/3;
  grid-column: 2/2;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background-image: url(/img/Full-GH-Heading.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.heading-1 {
  grid-row: 4/4;
  grid-column: 2/2;

  margin: 0;
  padding-bottom: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-transform: var(--general-text-transform);
  color: rgba(0, 0, 0, 0.85);

  font-family: var(--logo-font-family);
  font-size: 1rem;
}

.heading-1 h1 {
  margin: 0;
  padding: 0;
}

.browse-button {
  grid-row: 5/5;
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

.more-about-text {
  grid-row: 6/6;
  grid-column: 2/2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: transparent;

  text-align: center;
  text-transform: var(--general-text-transform);
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: var(--general-letter-spacing);
  font-family: var(--li-a-font-family);
  font-weight: 400;
}

.more-about-text span {
  font-weight: 700;
  font-size: 1rem;
}

.buy-button {
  height: 50px;
  width: 200px;
  border-radius: 2px;

  background: none;
  color: #393939;

  border: 2px solid #393939;

  transition: 0.5s;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--general-font-size);
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 600;
}

.buy-button:focus {
  outline: none;
}

.buy-button::before {
  content: "";
  display: block;
  position: absolute;
  background: #393939;
  height: 100%;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.buy-button::after {
  content: "";
  display: block;
  position: absolute;
  background: #393939;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.buy-button:hover {
  background: #393939;
  cursor: pointer;
  color: #ffffff;
}

.buy-button:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.5s;
}

.buy-button:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.5s;
}

}

@media (max-width: 991px) {
  /*Tablet*/
  
  /* Same as Desktop, works well */
}

  
@media (max-width: 600px) {
  /* Mobile */

  .about-text {
    font-size: 0.6rem;
  }
  
  .about-text span {
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    font-family: var(--logo-font-family);
  }

  .heading-1 {
    font-size: 0.6rem;
  }

  .more-about-text {
    font-size: 0.6rem;
  }
  
  .more-about-text span {
    font-weight: 700;
    font-size: 0.7rem;
  }

}