body {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;

  border: 1px red so;

  overflow-x: hidden;
  max-height: 277.5vh;
  /* background-color: rgba(0, 0, 0, 0.55); */
}

#page-container {
  position: absolute;
  min-height: 289.5vh;
  overflow-y:none;
  height: 100%;
}

#content-wrap {
  padding-bottom: 15vh;  
  height: auto !important;
}

#footer {
  grid-area: "footer";
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  width: 100%;  
}

.main-grid {
  padding-top: 15px;
  width: 100%;
  display: grid;
  height: 300vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 50vh 40vh 80vh 85vh;
  grid-row-gap: 2.5vh;
}

.free-games {
  grid-column: 2/2;
}

.new-releases {
  grid-column: 2/2;
  border: 1px solid black;
}

.used-games {
  grid-column: 2/2;
  border: 1px solid black;
}

/* Featured Games Slider */

.image-slider {
  grid-column: 2/2;
  grid-row: 1/2;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 85% 5%;
  position: relative;
  /* background-color: #393939; */
  /* background-color: rgba(0, 0, 0, 0.55); */

  /* box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.75); */
}

.image-slider h1 {
  grid-row: 1/1;
  grid-column: 2/3;

  padding: 0px;
  margin: 5px auto;
  text-align: center;

  font-size: 1.9rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.image-slider h1 span {
  font-weight: 100;
  font-size: 1.6rem;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75); */
}

.image-slider .next {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 3rem;
  color: #525252;
  cursor: pointer;
}

.image-slider .next:hover {
  color: rgba(0, 0, 0, 0.55);
}

.image-slider .prev {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 3rem;
  color: #525252;
  cursor: pointer;
}

.image-slider .prev:hover {
  color: rgba(0, 0, 0, 0.55);
}

.image-slider .autoplay {
  /* border: 1px solid green; */
  grid-row: 2/3;
  grid-column: 2/2;
  width: 100%;
  height: 42.5vh;
  margin: 0 auto;
  overflow: hidden;
}

.image-slider .autoplay .featured-game {
  /* border: 1px solid orange; */
  height: 42.5vh;
  background-color: none;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 65% 20% 15%;
}

.image-slider .autoplay .featured-game .featured-img {
  grid-row: 1/-1;
  grid-column: 1/1;
  width: 100%;
  height: 100%;

  display: inline-block;

  /* border-radius: 0px;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0.75); */
}

.opacity-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  grid-row: 1/-1;
  grid-column: 2/2;
  width: 100%;
  height: 100%;
}

.game-info {
  grid-row: 1/1;
  grid-column: 2/2;
}

.game-dscr {
  grid-row: 1/2;
  grid-column: 2/-1;

  text-align: left;
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.pegi {
  align-content: flex-end;
}

.pegi img {
  /* height: 100px; */
  width: 75px;
}

.featured-info h3 {
  color: #000000;

  padding: 5px;
  text-align: flex-start;

  margin: 0px auto;

  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 98;
}

.featured-bottom {
  grid-row: 3/4;
  grid-column: 2/2;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-left: 10px;
}

.featured-bottom .button-info .info-button {
  /* height: 50px; */
  width: 150px;
  align-self: flex-start;
  z-index: 999;
}

.image-slider .autoplay .featured-game .featured-bottom .ratings {
  align-self: flex-end;
  margin-right: 20px;

  color: #84a98c;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 5px;
}

.image-slider .autoplay .featured-game .featured-bottom .ratings p {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.3rem;
  padding: 0;
  align-self: flex-end;
  margin-right: 10px;
}

.free-games {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 10% 90%;
  background-color: rgba(0, 0, 0, 0.75);
  /* background-color: #0E0E0E; */
}

.free-text {
  grid-row: 1/1;
  grid-column: 1/-1;
  padding: 0;
  margin: 5px auto;

  font-size: 1.7rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.free1 {
  grid-row: 2/2;
  grid-column: 2/2;
  width: 100%;
  height: 34vh;
  background-color: rgba(0, 0, 0, 0.55);
  background-color: #0e0e0e;
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.free2 {
  grid-row: 2/2;
  grid-column: 4/4;
  width: 100%;
  height: 34vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.free3 {
  grid-row: 2/2;
  grid-column: 6/6;
  width: 100%;
  height: 34vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.free-game-img {
  grid-row: 1/1;
  height: 100%;
  width: 100%;
}

.free-game-title {
  align-self: center;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.info-button {
  grid-row: 3/3;
  height: 50px;
  width: 90%;
  border-radius: 2px;
  margin: 0px auto;

  background: none;
  color: #393939;

  border: 2px solid #393939;

  transition: 0.5s;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--general-font-size);
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 600;
}

.info-button:focus {
  outline: none;
}

.info-button::before {
  content: "";
  display: block;
  position: absolute;
  background: #393939;
  height: 100%;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.info-button::after {
  content: "";
  display: block;
  position: absolute;
  /* background: #393939;  */
  border: none;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.info-button:hover {
  /* background: #393939; */
  background-color: rgba(0, 0, 0, 0.55);
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.info-button:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.5s;
}

.info-button:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.5s;
}

.new-releases {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 4vh 33vh 33vh 33vh 9vh;
  grid-row-gap: 2vh;
  background-color: #393939;
  border: none;
}

.new-releases .new-game1 {
  grid-row: 2/2;
  grid-column: 2/2;
  width: 100%;
  height: 32vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game2 {
  grid-row: 2/2;
  grid-column: 4/4;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game3 {
  grid-row: 2/2;
  grid-column: 6/6;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game4 {
  grid-row: 3/3;
  grid-column: 2/2;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game5 {
  grid-row: 3/3;
  grid-column: 4/4;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game6 {
  grid-row: 3/3;
  grid-column: 6/6;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game7 {
  grid-row: 4/4;
  grid-column: 2/2;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game8 {
  grid-row: 4/4;
  grid-column: 4/4;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-releases .new-game9 {
  grid-row: 4/4;
  grid-column: 6/6;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.new-game-img {
  grid-row: 1/1;
  height: 100%;
  width: 100%;
}

.new-game-title {
  align-self: center;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.new-game-text {
  grid-row: 1/1;
  grid-column: 1/-1;
  padding: 0;
  margin: 15px auto;

  font-size: 1.7rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.used-games {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 4vh 33vh 33vh 9vh;
  grid-row-gap: 2vh;
  background-color: #393939;
  border: none;
}

.used-games .used-game1 {
  grid-row: 2/2;
  grid-column: 2/2;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.used-games .used-game2 {
  grid-row: 2/2;
  grid-column: 4/4;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.used-games .used-game3 {
  grid-row: 2/2;
  grid-column: 6/6;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.used-games .used-game4 {
  grid-row: 3/3;
  grid-column: 2/2;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.used-games .used-game5 {
  grid-row: 3/3;
  grid-column: 4/4;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.used-games .used-game6 {
  grid-row: 3/3;
  grid-column: 6/6;
  width: 100%;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0.55);
  display: grid;
  grid-template-rows: 70% 10% 20%;
}

.used-game-img {
  grid-row: 1/1;
  height: 100%;
  width: 100%;
}

.used-game-title {
  align-self: center;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.used-game-text {
  grid-row: 1/1;
  grid-column: 1/-1;
  padding: 0;
  margin: 15px auto;

  font-size: 1.7rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.used-games .more-button {
  grid-row: 4/4;
  grid-column: 2/2;
}

.more-button {
  border-radius: 2px;
  margin: 0px auto;

  height: 4vh;
  width: 100%;

  background: none;
  color: rgba(0, 0, 0, 0.55);

  border: 2px solid rgba(0, 0, 0, 0.55);

  transition: 0.5s;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--general-font-size);
  text-transform: var(--general-text-transform);
  font-family: var(--general-font-family);
  text-decoration: var(--general-text-decoration);
  font-weight: 600;
}

.more-button:focus {
  outline: none;
}

.more-button::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.more-button::after {
  content: "";
  display: block;
  position: absolute;
  background: #393939;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.more-button:hover {
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  color: #ffffff;
}

.more-button:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.5s;
}

.more-button:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.5s;
}
